body {
	font-family: sans-serif;
}

.calendar {
	height:720px;
	width:620px;

}

.calendar .time {
	width:90px;
	height:100%;
	float:left;
	padding-right:10px;
	border-right:1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.calendar .time div {
	font-size:18px;
	font-weight: bold;
	text-align: right;
	color:gray;
}

.calendar .time div:last-child {
	margin-bottom:0;
}

.calendar .time div:nth-child(2n) {
	font-size:12px;
	font-weight: normal;
}

.calendar .events {
	width:100%;
	height:inherit;
	margin-left: 100px;
	background-color:#ececec;
	position: relative;
}

.calendar .events > div {
	background:white;
	border:1px solid #D1D1D1;
	border-left:5px solid #57b986;
	position: absolute;
	margin-left:10px;
	padding:10px;
}

.calendar .events > div > * {
	margin:0;
}